# Ignore arquivos de ambiente virtual
venv/

# Ignore arquivos de log
*.log

# Ignore pastas de cache do Python
__pycache__/
*.py[cod]

# Ignore arquivos de banco de dados SQLite
*.sqlite3

# Ignore configurações locais
.env

# ignorar o readme.md
README.md
